<div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-column w-100" style="max-width: 55rem">
        <div class="pb-4">
            <personal-data-filter
                [filters]="filters"
                [sort]="sort"
                (filtersAdded)="addFilters($event)"
                (filterRemoved)="removeFilter($event)"
                (sortChanged)="changeSort($event)"
            ></personal-data-filter>
        </div>

        <div class="d-flex justify-content-center">
            <pagination
                [disabled]="loading"
                [totalItems]="totalItems"
                [itemsPerPage]="pageSize"
                [ngModel]="currentPaginationPage"
                [maxSize]="9"
                [rotate]="false"
                (pageChanged)="changePage($event)"
            ></pagination>
        </div>

        <accordion [isAnimated]="true" [closeOthers]="true" class="w-100">
            <accordion-group
                *ngFor="let data of personalData"
                class="p-1"
                [isOpen]="highlightId == data.id"
            >
                <span accordion-heading>
                    <div class="d-flex flex-column">
                        <h5>{{ data.firstname }} {{ data.surname }}</h5>
                        <i class="text-muted"
                            >{{ data.email }}
                            <i *ngIf="data.city"> - {{ data.city }}</i>
                        </i>
                    </div>
                </span>

                <div>
                    <h5><strong>First name:</strong> {{ data.firstname }}</h5>
                    <h5><strong>Surname</strong> {{ data.surname }}</h5>
                    <h5><strong>Email</strong> {{ data.email }}</h5>
                    <h5 *ngIf="data.address">
                        <strong>Address:</strong> {{ data.address }}
                    </h5>
                    <h5 *ngIf="data.place">
                        <strong>Place:</strong> {{ data.place }}
                    </h5>
                    <h5 *ngIf="data.city">
                        <strong>City:</strong> {{ data.city }}
                    </h5>
                    <h5 *ngIf="data.province">
                        <strong>Province:</strong> {{ data.province }}
                    </h5>
                    <h5 *ngIf="data.note">
                        <strong>Note:</strong> {{ data.note }}
                    </h5>
                </div>

                <div class="d-flex flex-row-reverse">
                    <div class="btn-group">
                        <button
                            (click)="edit(data)"
                            type="button"
                            class="btn btn-outline-warning"
                        >
                            Edit
                        </button>
                        <button
                            (click)="delete(data)"
                            type="button"
                            class="btn btn-outline-danger"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>

<div class="text-center">
    <div
        class="spinner-border text-primary"
        role="status"
        *ngIf="loading && !personalData"
    ></div>
</div>
