<form [formGroup]="editForm" (submit)="submitForm()">
    <div
        class="form-floating mb-3 placeholder-glow"
        *ngFor="let prop of properties"
    >
        <input
            [id]="prop"
            [type]="prop === 'email' ? 'email' : 'text'"
            [formControlName]="prop"
            class="form-control"
            placeholder=""
            [readOnly]="loading"
            [class.placeholder]="loading"
        />
        <label [for]="prop">{{ prop }}</label>
    </div>
    <div class="d-flex placeholder-glow" style="gap: 1rem">
        <button type="button" class="btn btn-danger w-50" (click)="cancel()">
            Cancel
        </button>
        <button
            type="submit"
            class="btn btn-primary w-50"
            [disabled]="loading"
            [class.placeholder]="loading"
        >
            Confirm
        </button>
    </div>
</form>
